<html>
    <head>
        <title>Convert-Resistor</title>
    </head>
    <body>
        <h1>Convert-Resistor</h1>
        <table id="id_all">
        <form method="POST">
        <tr>
            <td><input name="resistor_v" id="id_new_value" placeholder="Enter a value" /></td>
            {% csrf_token %}
        </form>
        <form method="POST">
            <td><input name="resistor_c" id="id_new_color" placeholder="Enter a color" /></td>
            {% csrf_token %}
        </form>
        </tr>

        <tr>
        <td>
        <table id="id_value_resistor_table">     
            {% for resistors in resistorlists %}
                {% if resistors.value2 == 0 %}
                    <tr><td>{{ resistors.value }} ---> {{resistors.color}}</td></tr>
                {% endif %}
            {% endfor %}
            
        </table>
        </td>
        <td>
        <table id="id_color_resistor_table">
            {% for resistors in resistorlists %}
                {% if resistors.color == "" %}
                    <tr><td>{{ resistors.color2 }} ---> {{resistors.value2}}</td></tr>
                {% endif %}
            {% endfor %}
        </table>
        </td>
        </tr>
        </table>
    </body>
</html>
